___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 4: Work with data professionally!

## Lab work 4

#### Мета: 

* навчитися обробляти дані
* "парсити" сайти

### Завдання 1:

#### Ознайомитися із API Національного банку 
https://old.bank.gov.ua/control/uk/publish/article?art_id=38441973&cat_id=38459171#exchange

1. Підключитися до API.

In [2]:
import requests

rat_ = requests.get("https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange")

params_ = {
    'date' : '20220614',
    'json' : 'json'
}

rat_.status_code

200

2. Отримати курс долара за останній рік.

In [3]:
from datetime import datetime, date, timedelta
import requests

db = []
date = datetime.now()

for i in range(30):
    params = {
        'date' : date.strftime('%Y%m%d'),
        'json' : 'json'
    }
    r = requests.get('https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange', params=params)
    if r.status.code == 200:
        res = r.json()
        db.extend(res)

        date = date - timedelta(days=1)

db

AttributeError: 'Response' object has no attribute 'status'

In [4]:
type(rat_)

requests.models.Response

3. Вивести середнє значення та відхилення курсу за кожний місяць.

In [5]:
from math import sqrt

c = 0
for i in range(len(rate_USD)):
    k = rate_USD[i]
    c = c + k
mean = round(c/len(rate_USD), 2)
print("Cереднє значення курсу за рік = %s" % mean)

l = 0
for d in range(len(rate_USD)):
    lc = (rate_USD[d] - mean)**2
    l = l + lc
Variance = l/len(rate_USD)
Standard_deviation = round(sqrt(Variance), 2)
print("Cтандартне відхилення курсу за рік = %s" % Standard_deviation)

NameError: name 'rate_USD' is not defined

4. Дану інформацію записати у файл за допомогою pickle.

In [4]:
new_dict = {
    "a" : rate[1, 2, 3],
    "b" : {3, 4},
    "c" : "asdfgh"
}

import pickle

with open("file.USD_rate_stats", "wb") as f:
    pickle.dump(new_dict, f)

NameError: name 'rate' is not defined

### Завдання 2:

Потрібно проаналізувати всі товари на сайті: 
https://smallpacking.agrosem.ua/shop/

Створіть базу даних, що містить таблицю із такими стовбцями: 
    - артикул товару
    - найменування
    - ціна 
    - вага

In [6]:
import sqlite3

db = sqlite3.connect('agro_sem.db')
c = db.cursor()

c.execute("""CREATE TABLE IF NOT EXISTS products (
    prod_id integer PRIMARY KEY,
    product_name text,
    price integer,
    weight integer
)""")

db.commit()
db

### Завдання 3:

Ознайомтеся із роботою SQLite та відповідним модулем у Python.
Завантажте базу даних для виконання лабораторної роботи.
Підключіться до завантаженої бази SQLite.

1. Виведіть інформацію про дану базу.

In [2]:
import sqlite3

db1 = sqlite3.connect('tysql.sqlite')
c = db1.cursor()
db1

2. Виведіть перелік всіх таблиць.

In [3]:
c.execute("SELECT name FROM sqlite_master WHERE type='table'")

print(c.fetchall())

[('Customers',), ('OrderItems',), ('Orders',), ('Products',), ('Vendors',)]

3. Список всіх cust_id з таблиці Customers table.

In [4]:
c.execute("SELECT cust_id FROM Customers")
result = c.fetchall()
print(result)

[('1000000001',), ('1000000002',), ('1000000003',), ('1000000004',), ('1000000005',)]

4. Всю таблицю Customers table

In [5]:
c.execute("SELECT * FROM Customers")
rows = c.fetchall()
for row in rows:
    print(row)
#result = c.fetchall()
#print(result)

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

5. Список клієнтів (cust_names) відсортованих від Z до A

In [6]:
c.execute("SELECT cust_name FROM Customers ORDER BY cust_name ASC")
result = c.fetchall()
print(result)

[('Fun4All',), ('Fun4All',), ('Kids Place',), ('The Toy Store',), ('Village Toys',)]

6. Таблицю клієнтів та замовлень (cust_id і order_num) . Відсортуйте по клієнту і потім по даті замовлення

In [7]:
c.execute("SELECT cust_id FROM Customers ORDER BY cust_id ASC")
#c.execute("SELECT cust_id FROM Customers")
result = c.fetchall()
print(result)
c.execute("SELECT order_num FROM Orders ORDER BY order_num ASC")
result_ = c.fetchall()
print(result_)

[('1000000001',), ('1000000002',), ('1000000003',), ('1000000004',), ('1000000005',)]
[(20005,), (20006,), (20007,), (20008,), (20009,)]

7. Таблицю (на основі Items) з кількість та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості

In [8]:
c.execute("SELECT quantity FROM OrderItems ORDER BY quantity DESC")
result = c.fetchall()
print(result)
c.execute("SELECT item_price FROM OrderItems ORDER BY item_price DESC")
result_ = c.fetchall()
print(result_)

[(250,), (250,), (250,), (100,), (100,), (100,), (100,), (100,), (50,), (50,), (20,), (10,), (10,), (10,), (10,), (10,), (5,), (5,)]
[(11.99,), (11.99,), (11.49,), (10.99,), (8.99,), (5.99,), (5.49,), (4.99,), (4.49,), (3.49,), (3.49,), (3.49,), (2.99,), (2.99,), (2.99,), (2.49,), (2.49,), (2.49,)]

8. Товар (з таблиці Products), ціна якого становить 9.49

In [9]:
c.execute("SELECT prod_name FROM Products WHERE prod_price = 9.49")
result = c.fetchall()
print(result)

[('King doll',), ('Queen doll',)]

9. Виведіть назву товару та ціну, яка лежить в діапазоні від  3 до 6. Відсортуйте результат в по ціні в порядку зростання

In [10]:
c.execute("SELECT prod_name, prod_price FROM Products WHERE prod_price BETWEEN 3 AND 6 ORDER BY prod_price ASC")
result = c.fetchall()
print(result)

[('Fish bean bag toy', 3.49), ('Bird bean bag toy', 3.49), ('Rabbit bean bag toy', 3.49), ('Raggedy Ann', 4.99), ('8 inch teddy bear', 5.99)]

10. Кількість товару, що було продано

In [11]:
c.execute("SELECT SUM(order_item) FROM OrderItems")
result = c.fetchall()
print(result)

[(45,)]

11. Кількість найменувань товару, ціна якого більша за 4

In [12]:
c.execute("SELECT prod_name FROM Products WHERE prod_price > 4")
result = c.fetchall()
print(result)

[('8 inch teddy bear',), ('12 inch teddy bear',), ('18 inch teddy bear',), ('Raggedy Ann',), ('King doll',), ('Queen doll',)]

12. Розробіть алгоритм для виведення 3 найдорожчих товарів в базі

In [13]:
c.execute("SELECT prod_name FROM Products ORDER BY prod_price DESC LIMIT(3)")
result = c.fetchall()
print(result)

[('18 inch teddy bear',), ('King doll',), ('Queen doll',)]

13. Підрахуйте кількість замовлень для кожного клієнта використовуючи підзапити

In [14]:
b_d = """
SELECT
    *
FROM
    Customers
WHERE cust_id IN (
                SELECT
                    DISTINCT cust_id
                FROM
                    Orders
                )
"""

c.execute(b_d)
#result = c.fetchall()
print(c.fetchall())

[('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com'), ('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com'), ('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com'), ('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)]

14. Виведіть список клієнтів та їх замовлення (використайте JOIN)

In [16]:
c.execute("SELECT cust_name, order_num FROM Customers INNER JOIN Orders ON Customers.cust_id = Orders.cust_id")
result = c.fetchall()
print(result)

[('Village Toys', 20005), ('Fun4All', 20006), ('Fun4All', 20007), ('The Toy Store', 20008), ('Village Toys', 20009)]

15. Зробіть два запити: список товарів, ціна яких менша 5 та список товарів, ціна який більша рівна 5. Використайте UNION для об'єднання цих запитів

In [38]:
b_d = """
SELECT
    prod_name, prod_price
FROM
    Products
IF(prod_price<5)
)
"""

c.execute(b_d)
#result = c.fetchall()
print(c.fetchall())

OperationalError: near "(": syntax error

### Завдання 4:

Зареєструйтеся на сайті  http://www.sql-ex.ru/

Виконайте завдання із блоку SELECT; з 1 по 30 завдання

Код запитів вставляйте сюди